flake8
autopep8
pylint
isort
optuna
pycodestyle
numpy
pandas
matplotlib
seaborn
scikit-learn
ipykernel
catboost
xgboost
lime
mlflow
zenml
SQLAlchemy
sqlmodel
streamlit
fastapi
fastapi-utils
psycopg2-binary
uvicorn
httpx
-e .